body {

    margin: 10;
    height: 100%;
    overflow: hidden;
    position: relative;

}

button {

    cursor: pointer;

}

#point {

    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    filter: blur(2px);

}

#counter {

    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 40px;
    font-weight: bold;

}

#timer {

    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;

}

#endGame {
    position: fixed;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: green;
}